<template id="template">
  <div class="col-md-9">
  </br>
      <p style="font-style: italic" class="title" id="label">
            <!-- appendixCompanyInfoItem.label -->
      </p> </br>
  </div>
</template>

<script>
  var AppendixQuestionnaireReplyItemComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var appendixQuestionnaireReplyItemPrototype = Object.create(HTMLElement.prototype);
    var appendixQuestionnaireReplyItemItem = {};

    appendixQuestionnaireReplyItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);
    }

    appendixQuestionnaireReplyItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        this.appendixQuestionnaireReplyItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);

        this.querySelector("#label").innerHTML = this.appendixQuestionnaireReplyItem.label;
      }
    }

    AppendixQuestionnaireReplyItemComponent = document.registerElement('beenov-appendix-questionnaire-reply-item', {
      prototype : appendixQuestionnaireReplyItemPrototype
    });
})();
</script>
