<link rel="import" href="../../component/report.html">

<template id="template">
  <script type="text/javascript" src="../../questionnaire_client.js"></script>

<div id="quiz" >
    <div class="container-fluid">

      <div class="container">

      <div class="row" >
          <div  id="onglet0" style="display:block;" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form">
      			<fieldset>
      				<h2 align="center" style="color:#003c74"><span class="tilte" id="title_theme"> </span></h2>
      				<hr class="colorgraph">

            <div  id="Contsettings">
              <div class="settings" id="list">
                <!-- Questions du questionnaire -->
              </div>
        	  </div>


      				<hr class="colorgraph">
      				<div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                </div>
              	<div class="col-xs-6 col-sm-6 col-md-6">
          <input id="save" type="submit" class="btn btn-lg btn-info btn-block" style="background-color:#003c74;color:white;margin:auto" value="Enregistrer">
      					</div>
      				</div>
      			</fieldset>
            </form>
      	</div>
      </div>

      </div>

      <div id="onglet1" style="display:none;">

    <div class="col-md-9">
      <beenov-report is-auto="true"></beenov-report>
	  </div>
    <div class="row">
      <button type="button"  class="btn btn-block" id="summon_report">
        Générer le compte-rendu
      </button>
    </div>

  </div>
      </div>

    </div>


</div>
</template>


<script>
  var AutoQuizComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var autoQuizPrototype = Object.create(HTMLElement.prototype);

    autoQuizPrototype.setReport = function(){
      this.querySelector("#save").addEventListener('click', () => {

        var name = Object.keys(ReportComponent.singleton);
        var report  = this.querySelector("beenov-report");

        report.setAttribute("name", name);

      });
    }

    autoQuizPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");
      this.setReport();
    };

    autoQuizPrototype.attachedCallback = function(){
      this.querySelector("#title_theme").innerText = AutoDiag.subTheme.name;
      $('form').submit(function(e) {
          e.preventDefault();
        });

    }


    AutoQuizComponent = document.registerElement("beenov-auto-quiz", {
      prototype : autoQuizPrototype
    });

  })();

</script>
