<link rel="import" href="../../component/report.html">

<template id="template">
  <script type="text/javascript" src="../../questionnaire_client.js"></script>

<div id="quiz" >
    <div class="container-fluid">
      <nav>
	<span class="nav_bar">
	  <span style="cursor:pointer" id="selected" onclick="changeOnglet(0)">QUESTIONNAIRE </span>
	  <span style="cursor:pointer" class="cptrd" onclick="changeOnglet(1)"> COMPTE-RENDU </span>
	</span>
      </nav>

      <div id="onglet0" style="display:block;">
	<div class="row">
	  <div class="col-md-3 marge"></div>
	  <div class="col-md-9 marge">
	    <h1><span class="sectionTitle" id="title_section"></span></h1>
	  </div>
	</div>

	<div class="row" id="option">
	  <div class="col-md-3">
	    <div id="company">
	      <h2>
		<span  class="sectionTitle" id="cmpn"></span>
		<img src="../../btn_edit_up.png" class="modify" onclick="modifycomp()">
	      </h2>
	    </div>

	    <div style="cursor:pointer" id="section">

	      <!-- Inserer ici les liens des differentes sections dispo -->
	    </div>
	    <div><button type="button" onclick="#" id="save">Enregistrer</button></div>
	  </div>
	  <div class="col-md-9" id="list">
	    <!-- Questions du questionnaire -->
	  </div>
	</div>
      </div>

      <div id="onglet1" style="display:none;">
	<!-- <h1>Onglet 1</h1> -->
	<div class="row" id="option">
	  <div class="col-md-3" id="actions">
	    <div id="rendu">
	      <p id="sumup_type">Modèle de compte rendu</p>
	    </div><hr>
	  </div>


    <div class="col-md-9" id="beenov-report">
      <!-- <beenov-report></beenov-report> -->
	  </div>


  </div>
      </div>

      <div id="onglet2" style="display:none;">
	<div class="row" id="options">
	  <div class="col-md-3">
	    <div style="cursor:pointer" id="conseil">
	    </div>
	  </div>
	  <div  class="col-md-9" id="listcons">
	  </div>
	</div>
      </div>

    </div>
    <div id="bottom">
      <img src="../../logo-feder.png" class="credits">
      <img src="../../logo-direccte.png" class="credits">
    </div>

</div>
</template>


<script>
  var AutoQuizComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var autoQuizPrototype = Object.create(HTMLElement.prototype);

    autoQuizPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");
    };

    AutoQuizComponent = document.registerElement("beenov-auto-quiz", {
      prototype : autoQuizPrototype
    });

  })();

</script>
