<template id="template">
<div class="col-md-9">

</br>  <p style="color:cornflowerBlue; font-size:13px" id="label">
      <!-- commentItem.label -->
    </p></br>
  </div>

</template>

<script>
  var CommentItemComponent = {};

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var commentItemPrototype = Object.create(HTMLElement.prototype);

    commentItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    commentItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        this.commentItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);

        if (this.commentItem.label != null)
        this.querySelector("#label").innerHTML = this.commentItem.label
        else
          this.querySelector("#label").innerHTML = this.commentItem.text;
      }
    }

    CommentItemComponent = document.registerElement('beenov-comment-item', {
      prototype : commentItemPrototype
    });
})();
</script>
