<template id="template">
  <input type="text" style="margin-left:35px"/>  <!-- input.value = question.answer -->
   <p id="label" style="margin-left:35px" hidden="true">  </p>


</template>

<script>
var FreeTextQuestionComponent = {};

(function(){
  var currentDoc = document._currentScript.ownerDocument;
  var freeTextQuestionPrototype = Object.create(HTMLElement.prototype);

  freeTextQuestionPrototype.createdCallback = function(){
    Operation.appendTemplate(this, currentDoc, "#template");
    this.question = {};
  };

  freeTextQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
    if(attr === "question"){
      this.question = QuestionComponent.quiz.getQuestion(newV);

      if (this.question.title === "Localité / Ville" || this.question.title === "Dénomination sociale / Nom de l'entreprise")
      {
          this.factory.setAttribute("validity", true);
          this.querySelector("#label").innerHTML = this.question.answer ? this.question.answer : "";
          this.querySelector("#label").removeAttribute("hidden","true");
          var input = this.querySelector("input");

          input.parentNode.removeChild(input);
      }

      else
        {

            this.querySelector("input").value = this.question.answer ? this.question.answer : "";
            var validity = this.question.mandatory ? (! this.question.answer) : true;
            this.factory.setAttribute("validity", validity);

            if (this.question.mandatory){
              input.setAttribute("required",true);
              var validity = this.question.mandatory ? (! this.question.answer) : true;
              this.factory.setAttribute("validity", validity);
            }

              if (this.question.title === "Adresse du site Internet de l'entreprise")
                {
                      var input = this.querySelector("input");
                      input.setAttribute("type","url");
                      input.placeholder = "https://example.com";
                      input.pattern ="https://*.*" ;
                      input.setAttribute("size","20");
                      input.setAttribute("class", "controle");

                      input.oninput = ()=>{
                        var validity = input.checkValidity() ? true : false ;
                        this.factory.setAttribute("validity", validity);
                        var quiz = document.querySelector("beenov-quiz")
                        quiz.check();
                      }
                }
        }
    }
  };

  FreeTextQuestionComponent = document.registerElement("beenov-free-text-question",{
    prototype : freeTextQuestionPrototype
  });

})();
</script>
