<template id="template">
  <input type="text" style="margin-left:25px"/>  <!-- input.value = question.answer -->
  <p id="label" style="margin-left:25px" hidden="true">

  </p>

</template>

<script>
var FreeTextQuestionComponent = {};

(function(){
  var currentDoc = document.currentScript.ownerDocument;
  var freeTextQuestionPrototype = Object.create(HTMLElement.prototype);

  freeTextQuestionPrototype.createdCallback = function(){
    Operation.appendTemplate(this, currentDoc, "#template");
    this.question = {};
  };

  freeTextQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
    if(attr === "question"){
      this.question = QuestionComponent.quiz.getQuestion(newV);

      console.log(this.question.title);
      if (this.question.title === "Localité / Ville" || this.question.title === "Dénomination sociale / Nom de l'entreprise") {
        this.querySelector("#label").innerHTML = this.question.answer ? this.question.answer : "";
        console.log(this.querySelector("#label"));
          this.querySelector("#label").removeAttribute("hidden","true");
          this.querySelector("input").setAttribute("style","display:none");

      }
      else {

        this.querySelector("input").value = this.question.answer ? this.question.answer : "";
      }
      
    }
  };

  FreeTextQuestionComponent = document.registerElement("beenov-free-text-question",{
    prototype : freeTextQuestionPrototype
  });

})();
</script>
