<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<template id="template">
  <!-- <input type = "number" maxlength = "14" id = "siret" required />
  <input type = "email" pattern = "*@.+" required />
  <button id = "save"> Enregistrer </button> -->


  <div class="container">

  <div class="row" style="margin-top:10%;width:100%;margin-bottom:5%">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form">
  			<fieldset>
  				<h2 style="color:#003c74">Qui êtes-vous</h2>
  				<hr class="colorgraph">

          <div class="form-group">
            <input type="text" required value="" id="lastName" placeholder="Votre nom" class="form-control input-lg">
            <br/>
            <input type="text" required value="" id="firstName" placeholder="Votre prénom" class="form-control input-lg">
          </div>

          <div class="form-group">
    <input type="email" required id="email" pattern=".+@*.*" class="form-control input-lg" placeholder="Votre adresse mail">
  				</div>
  				<div class="form-group">
    <input type="text" required id="siret" maxlength="14" pattern="[0-9]{14}"  class="form-control input-lg" placeholder="Le SIRET de votre entreprise">
          </div>
  				<span class="button-checkbox">
  				</span>
  				<hr class="colorgraph">
  				<div class="row">

            <div class="col-xs-3 col-sm-3 col-md-3"></div>
          	<div class="col-xs-6 col-sm-6 col-md-6">
      <input id="save" type="submit" class="btn btn-info btn-block" style="background-color:#003c74;color:white;margin:auto" value="Suite">
  					</div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
  				</div>
  			</fieldset>
        </form>
  	</div>
  </div>

  </div>


</template>

<script>
  var GuestFormComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var guestFormPrototype = Object.create(HTMLElement.prototype);

    guestFormPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");
      this.guestForm = new GuestForm();
    };

    guestFormPrototype.setEvents = function(){
      var save = this.querySelector("#save");
      save.onclick = () => {
        var siret = this.querySelector("#siret").value;

        var mail = this.querySelector("#email");
        var firstName = this.querySelector("#firstName");
        var lastName = this.querySelector("#lastName");

        var mailValidity = this.querySelector("#email").validity;
        var siretValidity = this.querySelector("#siret").validity;
        var nomValidity = this.querySelector("#lastName").validity;
        var prenomValidity = this.querySelector("#firstName").validity;

        if (mailValidity.valid && siretValidity.valid && nomValidity.valid && prenomValidity.valid){
          var data = {
            contactFirstName : firstName.value,
            contactLastName : lastName.value,
            contactEmail : mail.value,
            siret : siret
          }

          this.guestForm.submit(data).done(()=> {
            document.body.dispatchEvent(AutoDiag.guestSubmit);
            console.log("done");
          })
        .fail(()=>alert("Saisissez un SIRET"));
      }
    }

      $("#siret").on('keydown', function (e) {
                Operation.checkNumber(e);
              });

      $('form').submit(function(e) {
          e.preventDefault();
        });

    };

    guestFormPrototype.attachedCallback = function(){
      this.setEvents();
    };

    GuestFormComponent = document.registerElement("beenov-guest-form",{
      prototype : guestFormPrototype
    });


  })();
</script>
