<template id="template">
  <div class="col-md-10">
    <p style="font-style: italic" id="label">
      <!-- imageItem.label -->
    </p>
    <p style="font-style: italic" class="title"> Sélectionnez l'image à télécharger </p>
    <input type="file" name="nom" value=""/>
  </br>
  </div>
</template>

<script>
  var ImageItemComponent = {};

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var imageItemPrototype = Object.create(HTMLElement.prototype);

      imageItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    imageItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        this.imageItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);

        this.querySelector("#label").innerHTML = this.imageItem.label;
      }
    }

    ImageItemComponent = document.registerElement('beenov-image-item', {
      prototype : imageItemPrototype
    });
})();
</script>
