<template id="template">
  <div class="col-md-10">
      <h3 style="font-size:18px" class="title"  id="titre"> </h3></br>
      <p style="font-size:13px" id="label">

      <!-- infoSheetsItem.label -->
      </p>
    </br>

      <div class="" id="fiche">
        <!-- items -->
      </div>
  </br></br>
</div>
</template>


<script>
  var InfoSheetsItemComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var infoSheetsItemPrototype = Object.create(HTMLElement.prototype);

    infoSheetsItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    infoSheetsItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "index"){
        var index = newV.split("/");
        this.infoSheetsItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);

        this.querySelector("#titre").innerHTML = this.infoSheetsItem.titre;
        this.querySelector("#label").innerHTML = this.infoSheetsItem.label;
      }

      if(attr === "id-info"){
        console.log(newV);
        var elt = document.createElement("div")

        elt.setAttribute("id-info", newV);
        elt.setAttribute("hidden", true);
        console.log(elt);
        this.querySelector("#fiche").append(elt);
      }

      if(attr === "title"){
        var id = this.getAttribute("id-info");
        var elt = this.querySelector('[id-info="'+id+'"]');

        elt.innerText = newV;
      }

      if(attr === "show"){
        var tab = newV.split("*");
        console.log(tab);
        console.log(this);
        var elt = this.querySelector('[id-info="'+tab[0]+'"]');

        if(elt.getAttribute("hidden")){
          elt.removeAttribute("hidden");
          this.infoSheetsItem.addInfoSheet(tab[0]);
        }

        else{
          elt.setAttribute("hidden", true);
          this.infoSheetsItem.removeInfoSheet(tab[0]);
        }

        console.log(this.infoSheetsItem.infoSheets);
      }
    }

    InfoSheetsItemComponent = document.registerElement('beenov-info-sheets-item', {
      prototype : infoSheetsItemPrototype
    });

})();
</script>
