<template id="template">
  <div class="col-md-10">
      <h3 style="font-size:18px" class="title"  id="titre"> </h3></br>
      <p style="font-size:13px" id="label">

      <!-- infoSheetsItem.label -->
    </p></br></br>
</div>
</template>


<script>
  var InfoSheetsItemComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var infoSheetsItemPrototype = Object.create(HTMLElement.prototype);

    infoSheetsItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    infoSheetsItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = Operation.getSectIdItemId(newV)
        this.infoSheetsItem = ItemComponent.reportTemplate.getItem(index.idSect, index.idItem);

        this.querySelector("#titre").innerHTML = this.infoSheetsItem.titre;
        this.querySelector("#label").innerHTML = this.infoSheetsItem.label;

      }
    }

    InfoSheetsItemComponent = document.registerElement('beenov-info-sheets-item', {
      prototype : infoSheetsItemPrototype
    });
})();
</script>
