<template id="template">
  <p id="label" style="margin-left:35px" ></p>  <!-- input.value = question.answer -->
  <br/>
</template>

<script>
var NafTextQuestionComponent = {};

(function(){
  var currentDoc = document._currentScript.ownerDocument;
  var nafTextQuestionPrototype = Object.create(HTMLElement.prototype);

  nafTextQuestionPrototype.createdCallback = function(){
    Operation.appendTemplate(this, currentDoc, "#template");
    this.question = {};
  };

  nafTextQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
    if(attr === "question"){
      this.question = QuestionComponent.quiz.getQuestion(newV);
      this.querySelector("#label").innerHTML = this.question.answer ? this.question.answer : "";
    }
  };

  NafTextQuestionComponent = document.registerElement("beenov-naf-text-question",{
    prototype : nafTextQuestionPrototype
  });

})();
</script>
