<template id="template">
    </br>

    <div class="row col-md-11">

    </div>

    <!-- <div class="col-md-3" id="button">
    </div> -->
    </br>
</template>

<script>
  var NamedCommentItemComponent = {};


  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var namedCommentItemPrototype = Object.create(HTMLElement.prototype);

    namedCommentItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    namedCommentItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        this.namedCommentItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);
        // this.querySelector("#label").innerHTML = this.namedCommentItem.comment;

      }
    }

    NamedCommentItemComponent = document.registerElement('beenov-named-comment-item', {
      prototype : namedCommentItemPrototype
    });
})();
</script>
