<template id="template">
  <div id="question" style="margin-left:35px" >
    <!-- question.textLabels -->
    <!-- beenov-text-question[question = question.id] -->
  </div>
  <br/>
</template>

<script>
  var NTextsQuestionComponent = {};

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var nTextsQuestionPrototype = Object.create(HTMLElement.prototype);

    nTextsQuestionPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");
      this.question = {};
    };

    nTextsQuestionPrototype.updateAnswer = function(){
      var inputs = this.querySelectorAll("input");
      this.question.answer = new Array();

      inputs.forEach(elt => this.question.answer.push(elt.value));
    };

    nTextsQuestionPrototype.setTexts = function(){
      var labels = this.question.typeOptions.textLabels;
      var elt = this.querySelector("#question");

      // if (this.question.title === "Dirigeant") {
      //    this.factory.setAttribute("validity",true);
      //    console.log("aaaaaaaa");
      // }

      var validity = this.question.mandatory ? ( ! this.question.answer) : true;
      this.factory.setAttribute("validity", validity);

      for(var i in labels){
        var div = document.createElement("div");
        var label = document.createElement("label");
        var input = document.createElement("input");
        var br = document.createElement("br");

        input.type = "text";
        input.setAttribute("class", "free");
        input.value = this.question.answer ? this.question.answer[i] : "";

        label.innerText =  labels[i];
        label.innerHTML += '&nbsp';
        label.appendChild(input);

        div.appendChild(label);
        elt.append(div);


        if (this.question.mandatory){
          input.setAttribute("required",true);
          input.setAttribute("class","controle");
        }

          this.oninput = ()=>{
            var validity = input.checkValidity() ? true : false ;
             this.factory.setAttribute("validity", validity);
             var quiz = document.querySelector("beenov-quiz")
             quiz.check();
        }


      }
    };

    nTextsQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "question"){
        this.question = QuestionComponent.quiz.getQuestion(newV);
        this.setTexts();
      }
    };

    NTextsQuestionComponent = document.registerElement("beenov-ntexts-question", {
      prototype : nTextsQuestionPrototype
    });

  })();

</script>
