<template id="template">
  <input id="ans" type="number"  style="margin-left:25px" />
   <!-- input.value = question.answer -->
   <!-- <input id="ans" hidden="true" class="controle" type="number"  min="1900" max="2018" required placeholder="Entre 1900 et 2018"> -->
  <br/>
</template>

<script>
var NumericTextQuestionComponent = {};

(function(){
  var currentDoc = document.currentScript.ownerDocument;
  var numericTextQuestionPrototype = Object.create(HTMLElement.prototype);

  numericTextQuestionPrototype.createdCallback = function(){
    Operation.appendTemplate(this, currentDoc, "#template");
    this.question = {};
  };

  numericTextQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
    if(attr === "question"){
      this.question = QuestionComponent.quiz.getQuestion(newV);
      this.querySelector("input").value = this.question.answer ? this.question.answer : "";

    if (this.question.title === "Année de naissance du dirigeant") {
        var input = this.querySelector("input");
        input.setAttribute("class", "controle");
        input.min = 1900;
        input.max = 2018;
        input.placeholder="Entre 1900 et 2018";
        // input.setAttribute("required","false")

      }
      else {
        var input = this.querySelector("input");
        input.setAttribute("required",true);
        input.setAttribute("class","controle");
        input.min = 0 ;
        input.placeholder = "supérieur à 0 "
      }

      input.oninput = ()=> this.validate = input.validity.valid;
    }
  };
  
  NumericTextQuestionComponent = document.registerElement("beenov-numeric-text-question",{
    prototype : numericTextQuestionPrototype
  });

})();
</script>
