<template id="template">
  <input id="ans" type="number"  style="margin-left:35px" />
   <!-- input.value = question.answer -->
   <!-- <input id="ans" hidden="true" class="controle" type="number"  min="1900" max="2018" required placeholder="Entre 1900 et 2018"> -->
  <br/>
  <br/>
</template>

<script>
var NumericTextQuestionComponent = {};

(function(){
  var currentDoc = document._currentScript.ownerDocument;
  var numericTextQuestionPrototype = Object.create(HTMLElement.prototype);

  numericTextQuestionPrototype.createdCallback = function(){
    Operation.appendTemplate(this, currentDoc, "#template");
    this.question = {};
  };

  numericTextQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
    if(attr === "question"){
      this.question = QuestionComponent.quiz.getQuestion(newV);
      this.querySelector("input").value = this.question.answer ? this.question.answer : "";



    if (this.question.title === "Année de naissance du dirigeant") {
      var validity = this.question.mandatory ? (! this.question.answer) : true;
      this.factory.setAttribute("validity", validity);
        var input = this.querySelector("input");
        input.min = 1930;
        input.max = (new Date()).getFullYear();
        input.setAttribute("class", "controle");

        input.oninput = ()=>{
          var validity = input.checkValidity() ? true : false ;
            this.factory.setAttribute("validity", validity);
            console.log(validity);
            var quiz = document.querySelector("beenov-quiz")
            quiz.check();
        }
      }

      else {
        if (this.question.title === "Nombre de salariés") {
          var input = this.querySelector("input");
          input.min = 0 ;

          input.setAttribute("class", "controle");
          input.oninput = ()=>{
            var validity = input.checkValidity() ? true : false ;
              this.factory.setAttribute("validity", validity);
              var quiz = document.querySelector("beenov-quiz")
              quiz.check();
          }
        }
      }

      if (this.question.mandatory){
          var input = this.querySelector("input");
          input.setAttribute("required",true);
          input.setAttribute("class", "controle");
      }
    }
  };

  NumericTextQuestionComponent = document.registerElement("beenov-numeric-text-question",{
    prototype : numericTextQuestionPrototype
  });

})();
</script>
