<template id="template">
  <br/>
  <div id="question" style="margin-left:35px">
    <!-- question.typeOptions.options -->
  </div>
  <br/>
</template>

<script>
  var OneChoiceQuestionComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var oneChoiceQuestionPrototype = Object.create(HTMLElement.prototype);

    oneChoiceQuestionPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");

      this.question = {};
    };

    oneChoiceQuestionPrototype.setOptions = function(){
      var tab = this.question.typeOptions.options;
      var l = tab.length;
      var elt = this.querySelector("#question");

      if (this.question.title == "Forme juridique" || this.question.mandatory){
        var validity = (this.question.answer === undefined) ? false : true;
        this.factory.setAttribute("validity",validity);
      }
      // var validity = this.question.mandatory ? (!(this.question.answer === undefined)) : true;
      // this.factory.setAttribute("validity", validity);

      console.log(this.factory.getAttribute("validity"));

      for(var i=0; i<l; i++){
        var radio = document.createElement('input');
        radio.setAttribute("type","radio")
        var span = document.createElement("span");
        var br = document.createElement("br");

        radio.type = 'radio';
        radio.checked = (i+1) == this.question.answer;
        radio.name = "choice" +this.question.id;

        span.innerHTML = "&nbsp"+tab[i];

        elt.appendChild(radio);
        elt.appendChild(span);
        elt.appendChild(br);

        if ((this.question.mandatory) || (this.question.title == "Forme juridique")){
          radio.className = (this.factory.getAttribute("validity") === "true") ? "greeninput" : "redinput";
        }

      }

      this.onchange = ()=>{
        var inputs = this.querySelectorAll("input");
        inputs.forEach(elt => elt.className = "greeninput");
          var validity =  true ;
          this.factory.setAttribute("validity", validity);
          var quiz = document.querySelector("beenov-quiz")
          quiz.check();

      }

    };

    oneChoiceQuestionPrototype.updateAnswer = function(){
      var inputs = this.querySelectorAll("input");
      for(var i in inputs)
        if(inputs[i].checked){
          this.question.answer = i+1;
          break;
        }
    };


    oneChoiceQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "question"){
        this.question = QuestionComponent.quiz.getQuestion(newV);
        this.setOptions();
      }
    };

    OneChoiceQuestionComponent = document.registerElement("beenov-one-choice-question",{
      prototype : oneChoiceQuestionPrototype
    });
  })();
</script>
