<template id="template">
  <div id="question">
    <!-- question.typeOptions.options -->
  </div>
</template>

<script>
  var OneChoiceQuestionComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var oneChoiceQuestionPrototype = Object.create(HTMLElement.prototype);

    oneChoiceQuestionPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");

      this.question = {};
    };

    oneChoiceQuestionPrototype.setOptions = function(){
      var tab = this.question.typeOptions.options;
      var l = tab.length;
      var elt = this.querySelector("#question");

      for(var i=0; i<l; i++){
        var radio = document.createElement('input');
        var span = document.createElement("span");
        var br = document.createElement("br");

        radio.type = 'radio';
        radio.checked = (i+1) === this.question.answer;
        radio.name = "choice";

        span.innerText = tab[i];

        elt.appendChild(radio);
        elt.appendChild(span);
        elt.appendChild(br);
      }
    };

    oneChoiceQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "question"){
        this.question = QuestionComponent.company.quiz.getQuestion(newV);
        this.setOptions();
      }
    };

    OneChoiceQuestionComponent = document.registerElement("beenov-one-choice-question",{
      prototype : oneChoiceQuestionPrototype
    });
  })();
</script>
