<template id="template">

  <div class="col-md-10" style="page-break-after : always">
      <p style="text-align: center"> --- Saut de page --- </p>
  </div>
</template>

<script>
  var PageJumpItemComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var pageJumpItemPrototype = Object.create(HTMLElement.prototype);

    pageJumpItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    pageJumpItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        this.pageJumpItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);

      }
    }

    PageJumpItemComponent = document.registerElement('beenov-page-jump-item', {
      prototype : pageJumpItemPrototype
    });
})();
</script>
