<template id="template">
  <input type="number" class="controle" min="0" max="100" style="text-align: right; margin-left:55px"/> <span>%</span>
   <!-- input.value = question.answer -->

  <br/>
</template>

<script>
var PercentTextQuestionComponent = {};

(function(){
  var currentDoc = document.currentScript.ownerDocument;
  var percentTextQuestionPrototype = Object.create(HTMLElement.prototype);

  percentTextQuestionPrototype.createdCallback = function(){
    Operation.appendTemplate(this, currentDoc, "#template");
    this.question = {};
  };

  percentTextQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
    if(attr === "question"){
      this.question = QuestionComponent.quiz.getQuestion(newV);
      this.querySelector("input").value = this.question.answer ? this.question.answer : "";

      var validity = this.question.mandatory ? (! (this.question.answer === undefined)) : true;
      this.factory.setAttribute("validity", validity);

      if (this.question.mandatory){
        var input = this.querySelector("input");
        input.setAttribute("required" ,"true");
      }
      this.oninput = ()=>{
          var validity = input.checkValidity() ? true : false ;
          console.log(validity);
            this.factory.setAttribute("validity", validity);
            var quiz = document.querySelector("beenov-quiz")
              quiz.check();
      }

    }
  };

  PercentTextQuestionComponent = document.registerElement("beenov-percent-text-question",{
    prototype : percentTextQuestionPrototype
  });

})();
</script>
