<link rel="import" href="oneChoiceQuestion.html">
<link rel="import" href="textQuestion.html">
<link rel="import" href="nTextsQuestion.html">
<link rel="import" href="nMTextsQuestion.html">

<template id="template">

  <div id="question">
    <label> <!-- question.title --> </label>
      <!-- questionCompoent -->

    <span id="mandatory" hidden>
      <!-- question.inputs.isFilled -->
      Veuillez compléter les champas manquants!
    </span>
  </div>

</template>

<script>
  var QuestionComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var questionPrototype = Object.create(HTMLElement.prototype);

    questionPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");
      QuestionComponent.quiz = QuestionnaireSectionComponent.company.quiz;
    };

    var createQuestionComponent = function(type, idQuestion){
      var questionComponent = null;

      switch(type){
        case CONST.questionType.choice :
        questionComponent = new OneChoiceQuestionComponent();
        break;

        case CONST.questionType.text :
        questionComponent = new TextQuestionComponent();
        break;

        case CONST.questionType.nTexts :
        questionComponent = new NTextsQuestionComponent();
        break;

        case CONST.questionType.nMTexts :
        questionComponent = new NMTextsQuestionComponent();
        break;
      }

      if(questionComponent){
        questionComponent.setAttribute("question", idQuestion);
        return questionComponent;
      }
    }


    questionPrototype.setLabel = function(){
      var label = this.querySelector("label");
      label.innerText = this.question ? this.question.title : "";
    };

    questionPrototype.setEvents = function(){
      var elt = this.querySelector("#question");
      var me = this;

      if(this.question.mandatory){
        var inputs = elt.querySelectorAll("input");
        var isFilled = true;

        for(var i in inputs){
          inputs[i].oninput = function(){
            var isFilled = true;

            if(this.value === "")
              isFilled = false;

            else
              for(var i in inputs){
                isFilled = isFilled && (inputs[i].value != "");
                if(!isFilled)
                  break;
              }

              me.setAttribute("is-filled", isFilled);
          };
        }
      }
    };

    questionPrototype.check = function(){
      var span = this.querySelector("#mandatory");
      var isFilled = this.getAttribute("is-filled");

      span.hidden = ̣isFilled;
    };

    questionPrototype.attributeChangedCallback = function(att, oldV, newV){
      if(att === "question"){
        this.question = QuestionComponent.quiz.getQuestion(newV);
        console.log(this.question);
        this.setLabel();

        var newC = createQuestionComponent(this.question.type, newV);

        this.querySelector("#question").append(newC);
        this.setEvents();
      }

      if(att === "is-filled"){
        this.check();
      }
    };

    QuestionComponent = document.registerElement("beenov-question",{
      prototype : questionPrototype
    });

  })();

</script>
