<link rel="import" href="oneChoiceQuestion.html">
<link rel="import" href="textQuestion.html">
<link rel="import" href="nTextsQuestion.html">
<link rel="import" href="nMTextsQuestion.html">
<link rel="import" href="textareaQuestion.html">
<template id="template">

  <div id="question">
    <label> <!-- question.title --> </label>
      <!-- questionCompoent -->

    <span id="error" style="display:none">
      <!-- question.inputs.isFilled -->
      Veuillez compléter les champs manquants!
    </span>
  </div>

</template>

<script>
  var QuestionComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var questionPrototype = Object.create(HTMLElement.prototype);

    questionPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");
      QuestionComponent.quiz = QuizSectionComponent.quiz;
    };

    questionPrototype.createQuestionComponent = function(type, idQuestion){
      var questionComponent = null;

      switch(type){
        case CONST.questionType.choice :
        questionComponent = new OneChoiceQuestionComponent();
        break;

        case CONST.questionType.text :
        questionComponent = new TextQuestionComponent();
        break;

        case CONST.questionType.nTexts :
        questionComponent = new NTextsQuestionComponent();
        break;

        case CONST.questionType.nMTexts :
        questionComponent = new NMTextsQuestionComponent();
        break;

        case CONST.questionType.textarea :
        questionComponent = new TextareaQuestionComponent();
        break;
      }

      if(questionComponent){
        questionComponent.factory = this;
        questionComponent.setAttribute("question", idQuestion);
        return questionComponent;

      }
    }


    questionPrototype.setLabel = function(){
      var label = this.querySelector("label");
      label.innerText = this.question ? this.question.title : "";
    };

    questionPrototype.updateAnswer = function(){
      this.made.updateAnswer();
    };

    questionPrototype.attributeChangedCallback = function(att, oldV, newV){
      if(att === "question"){
        this.question = QuestionComponent.quiz.getQuestion(newV);
        this.validity = !this.question.mandatory;

        this.setLabel();

        var newC = this.createQuestionComponent(this.question.type, newV);
        this.made = newC;

        this.querySelector("#question").append(newC);

        if (this.question.title === "Dirigeant" || this.question.title === "Fax" ||this.question.title=== "Téléphone" || this.question.title === "Adresse électronique de l'entreprise ou du dirigeant"){
          this.querySelector("#question").setAttribute("hidden" , "true");
        }
      }

    };

    QuestionComponent = document.registerElement("beenov-question",{
      prototype : questionPrototype
    });

  })();

</script>
