<link rel="import" href="oneChoiceQuestion.html">
<link rel="import" href="textQuestion.html">
<link rel="import" href="nTextsQuestion.html">

<template id="template">
  <div id="question">
    <label> <!-- question.title --> </label>
      <!-- questionCompoent -->
  </div>
</template>

<script>
  var QuestionComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var questionPrototype = Object.create(HTMLElement.prototype);

    questionPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");

      this.company = {};
      Company.getBySiret("00000000000000").done((data)=>{
        QuestionComponent.company = new Company(data.resources[0]);
        QuestionComponent.company.setQuizReply().done(()=>console.log("done"));
      });
    };

    var createQuestionComponent = function(type, idQuestion){
      var questionComponent = null;

      switch(type){
        case CONST.questionType.choice :
        questionComponent = new OneChoiceQuestionComponent();
        break;

        case CONST.questionType.text :
        questionComponent = new TextQuestionComponent();
        break;

        case CONST.questionType.nTexts :
        questionComponent = new NTextsQuestionComponent();
        break;
      }

      if(questionComponent){
        questionComponent.setAttribute("question", idQuestion);
        return questionComponent;
      }
    }


    questionPrototype.setLabel = function(){
      var label = this.querySelector("label");
      label.innerText = this.question.title;
    };


    questionPrototype.attributeChangedCallback = function(att, oldV, newV){
      if(att === "question"){
        this.question = QuestionComponent.company.quiz.getQuestion(newV);
        console.log(question);
        this.setLabel();

        var newC = createQuestionComponent(this.question.type, newV);

        this.querySelector("#question").append(newC);
      }
    };

    QuestionComponent = document.registerElement("beenov-question",{
      prototype : questionPrototype
    });

  })();

</script>
