<link rel="import" href="quizSection.html">
<link rel="stylesheet" type="text/css" href="test.css">
<link rel="stylesheet" type="text/css" href="company.css">

<template id="template">
  <div id="sections">
    <!-- this.sections -->
  </div>
</template>

<script>
  var QuizComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var quizPrototype = Object.create(HTMLElement.prototype);

    quizPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");
    };

    function setCompany(siret){
      var deferred = new $.Deferred();

      Company.getBySiret("00000000000000").done((data)=>{
        QuizComponent.company = new Company(data.resources[0]);
        QuizComponent.company.setQuizReply().done(()=>deferred.resolve());
      });

      return deferred;
    }

    quizPrototype.setSections = function(){
      var elt = this.querySelector("#sections");

      for(var i in this.sections){
        var s = new QuizSectionComponent();
        s.setAttribute("index", i);

        elt.append(s);
      }
    };

    quizPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "siret")
        setCompany(newV).done(()=>{
          this.sections = QuizComponent.company.quiz.sections;
          this.setSections();
        });
    }

    QuizComponent = document.registerElement('beenov-quiz',{
      prototype : quizPrototype
    });

  })();

</script>
