<link rel="import" href="question.html">

<template id="template">

  <br/>
  <b id="title"> <!-- section.title --> </b>
  <br/>

  <div id="question">
    <!-- section.questions -->
  </div>

</template>

<script>
  var QuizSectionComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var quizSectionPrototype = Object.create(HTMLElement.prototype);

    quizSectionPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");

      QuizSectionComponent.quiz = QuizComponent.company.quiz;
    };

    quizSectionPrototype.setQuestions = function(){
      var elt = this.querySelector("#question");
      var questions = this.section.questions;

      for(var i in questions){
        var q = new QuestionComponent();
        var id = questions[i].id;

        q.setAttribute("question", id);
        elt.append(q);
      }
    };

    quizSectionPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "index"){
        this.section = QuizSectionComponent.quiz.sections[newV];

        this.querySelector("#title").innerText = this.section.title;
        this.setQuestions();
      }

      if(attr === "question"){
        var q = new QuestionComponent();
        q.setAttribute("question", newV);

        var elt = this.querySelector("#question");
        elt.append(q);
      }
    };

    QuizSectionComponent = document.registerElement('beenov-quiz-section',{
      prototype : quizSectionPrototype
    });

  })();

</script>
