<link rel="import" href="quizSection.html">

<template id="template">
  <div id="sections">
    <!-- this.sections -->
  </div>
</template>

<template id="actions">
  <input type="button" value="Mettre à jour" id="save-company-sheet">
  <input type="button" name="save" value="Annuler" href="meeting_list">
</template>

<script>
  var QuizComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var quizPrototype = Object.create(HTMLElement.prototype);

    quizPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");

      var elt = document.querySelector("#buttonzone");
      Operation.appendTemplate(elt, currentDoc, "#actions");
    };

    function setCompany(){
      QuizXCo
    }

    quizPrototype.setActions = function(){
      var save = document.querySelector("#save-company-sheet");
      var reply =  QuizComponent.company.infoQuestionnaireReply;
      var me = this;

      save.value = (reply === -1) ? "Enregistrer" : "Mettre à jour";
      save.onclick = ()=> this.updateAnswers();
    };

    quizPrototype.updateAnswers = function(){
      var questions = this.querySelectorAll("beenov-question");

      questions.forEach(elt => elt.updateAnswer());
    };

    quizPrototype.setSections = function(){
      var elt = this.querySelector("#sections");

      for(var i in this.sections){
        var s = new QuizSectionComponent();
        s.setAttribute("index", i);

        elt.append(s);
      }
    };

    quizPrototype.attachedCallback = function(){
      var json = JSON.parse(localStorage.getItem("company"));;
      QuizComponent.company = Company.getCompanyByJSON(json);

      this.sections = QuizComponent.company.quiz.sections;
      this.setActions();
      this.setSections();
    }

    QuizComponent = document.registerElement('beenov-quiz',{
      prototype : quizPrototype
    });

  })();

</script>
