<link rel="import" href="quizSection.html">

<template id="template">
  <div id="sections">
    <!-- this.sections -->
  </div>
</template>

<script>
  var QuizComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var quizPrototype = Object.create(HTMLElement.prototype);

    quizPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#template");
    };

    function setCompany(){
      QuizXCo
    }

    quizPrototype.setSections = function(){
      var elt = this.querySelector("#sections");

      for(var i in this.sections){
        console.log(i);
        var s = new QuizSectionComponent();
        s.setAttribute("index", i);

        elt.append(s);
      }
    };

    quizPrototype.attachedCallback = function(){
      var json = JSON.parse(localStorage.getItem("company"));;
      QuizComponent.company = Company.getCompanyByJSON(json);

      this.sections = QuizComponent.company.quiz.sections;
      this.setSections();
    }

    QuizComponent = document.registerElement('beenov-quiz',{
      prototype : quizPrototype
    });

  })();

</script>
