<link rel="import" href="templateReport.html">

<template id="content">
  <div id="report">
  <!--- new TemplateReportComponent -->
  </div>
</template>

<template id="navbar">
  <br />
  <select id="templateList">
    <option selected disabled hidden style="display: none" value="">
      Choisissez un modèle
    </option>
    <!-- ReportTemplate.allCurrent -->
    <!-- ReportComponent.report <<lastReport>> -->
  </select>
</template>

<template id="actions">
  <button type="button" id="save_report">
    Enregistrer ce compte-rendu
  </button>
  <br />
  <button type="button" id="summon_report">
    Générer le compte-rendu
  </button>

</template>

<script>
  var ReportComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var reportPrototype = Object.create(HTMLElement.prototype);
    var deferred = new $.Deferred();
    var existLastReport = false;

    reportPrototype.defEvents = function(){
      var me = this;

      document.querySelector("#templateList").onclick = function(){
        me.setAttribute("name", this.value);
      };

      document.querySelector("#save_report").onclick = function(){
        var name = me.getAttribute("name");
        var obj = ReportTemplate.getByName(name);

        var id = ReportTemplate.getByName(CONST.component.lastReportName).idReport;

        Report.updateReport(id, obj).onload = ()=>{
          alert("save done");
          Report.getReportById(id).done((data)=>{
            var x = JSON.parse(data);
            if(x.status === "ok"){
              var id = ReportTemplate.getIndex(CONST.component.lastReportName);
              ReportTemplate.allCurrent[id] = new ReportTemplate(x.resources[0]);

              var reportComponent = ReportComponent.singleton[CONST.component.lastReportName] = new TemplateReportComponent();
              var index = ReportTemplate.getIndex(CONST.component.lastReportName);
              reportComponent.setAttribute('index', index);
            }
          });
        };
      };

      document.querySelector("#summon_report").onclick = function(){
        var name = me.getAttribute("name");
        var report = ReportTemplate.getByName(name);

        Report.generatePDF(report).onload = (data)=>{
          var url = data.currentTarget.response;

          Report.downloadPDF(url).onload = (data)=>
            createLink(data.currentTarget.response)
        };
      };

    };

    function createLink(arrayBuffer){
      var b = new Blob([new Uint8Array(arrayBuffer)], {type: 'application/octet-binary'});
      var link = document.createElement("a");

      link.href = window.URL.createObjectURL(b);
      link.download = "rapport.pdf";

      if(window.confirm("Télécharger le rapport !")){
        link.click();
      }
    }

    reportPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#content");

      var elt = document.querySelector("#sumup_type");
      Operation.appendTemplate(elt, currentDoc, "#navbar");

      elt = document.querySelector("#actions");
      Operation.appendTemplate(elt, currentDoc, "#actions");

      this.defEvents();
    };

    reportPrototype.appendTemplateName = function(){
      var newOp = {};
      var elt = document.querySelector("#templateList");

      if(existLastReport){
        newOp = document.createElement("option");
        newOp.innerText = CONST.component.lastReportName;
        elt.append(newOp);

        ReportComponent.singleton[newOp.innerText] = null;
      }

      var l = ReportTemplate.allCurrent.length;
      for (var i=0; i<l; i++){
        newOp = document.createElement("option");
        newOp.innerText = ReportTemplate.allCurrent[i].name;
        elt.append(newOp);

        ReportComponent.singleton[newOp.innerText] = null;
      }
    };

    function init(){
      ReportComponent.singleton = {};

      Report.getReports().done((data)=>{
        var x = JSON.parse(data);
        if(x.status === "ok"){
          var tab = x.resources;
          var toPush = new ReportTemplate(tab[tab.length-1]);
          existLastReport = true;
        }

        $.when(ReportTemplate.getAllCurrent(), Meeting.getCurrentMeeting()).done(()=>{
          deferred.resolve();
          if(x.status == "ok"){
            ReportTemplate.allCurrent.push(toPush);
          }
        });
      });

      return deferred.promise();
    }

    reportPrototype.attachedCallback = function(){
      init().done(()=>this.appendTemplateName());
    };

    reportPrototype.updateItems = function(){
      if(ReportTemplate.allCurrent)
        ReportTemplate.allCurrent[0].update().done(()=>{
          if(ReportComponent.singleton){
            for(var name in ReportComponent.singleton)
              if(ReportComponent.singleton[name])
                ReportComponent.singleton[name].updateItems();
              }
            });
    };

    reportPrototype.appendReport = function(name){
      var reportComponent = {};

      if(! ReportComponent.singleton[name]){
        reportComponent = ReportComponent.singleton[name] = new TemplateReportComponent();

        var index = ReportTemplate.getIndex(name);
        reportComponent.setAttribute('index', index);
      }

      else
        reportComponent = ReportComponent.singleton[name];

      this.querySelector("#report").appendChild(reportComponent);
    };

    reportPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "name" && newV){
        var child = this.firstElementChild;
        if(child.firstElementChild)
          child.removeChild(child.firstElementChild);

        this.appendReport(newV);
      }

    };

    ReportComponent = document.registerElement('beenov-report', {
      prototype : reportPrototype
    });

    CONST.component.lastReportName = "Dernier Rapport";

  })();
</script>
