<link rel="import" href="templateReport.html">

<template id="content">
  <div id="report">
  <!--- new TemplateReportComponent -->
  </div>
</template>

<template id="navbar">
  <br />
  <select id="templateList">
    <option selected disabled hidden style="display: none" value="">
      Choisissez un modèle
    </option>
    <!-- ReportTemplate.allCurrent -->
    <!-- ReportComponent.report <<lastReport>> -->
  </select>
  <p hidden id="pasTemplate" style="font-size :11px; color:black; text-align:center">
    Aucun modéle disponible, demandez à votre administrateur la création d'un modéle de compte-rendu
  </p>
</template>

<script>
  var ReportComponent = {};

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var reportPrototype = Object.create(HTMLElement.prototype);

    reportPrototype.defEvents = function(){
      var me = this;

        if (document.querySelector("#templateList")) {
          document.querySelector("#templateList").onclick = function(){
            me.setAttribute("name", this.value);
        };
      }

      if (document.querySelector("#save_report"))
      document.querySelector("#save_report").onclick = function(){
        var name = me.getAttribute("name");
        var obj = ReportTemplate.getByName(name);
        var lastReport = ReportTemplate.getByName(CONST.component.lastReportName);

        if(lastReport){
          var id = lastReport.idReport;
          Report.updateReport(id, obj).onload = ()=> saveReport(id);
        }

        else{
          var aux = {
            name : CONST.component.lastReportName
          };
          ReportTemplate.allCurrent.push(aux);

          Report.addReport(obj).onload = (data) => {
            var res = JSON.parse(data.currentTarget.response);
            saveReport(res.id);
          };
        }
      };

      var saveReport = function(id){
        alert("Compte-rendu enregistré");
        Report.getReportById(id).done((data)=>{
          var x = JSON.parse(data);
          if(x.status === "ok" & x.resources.length){
            var id = ReportTemplate.getIndex(CONST.component.lastReportName);
            ReportTemplate.allCurrent[id] = new ReportTemplate(x.resources[0]);

            var reportComponent = ReportComponent.singleton[CONST.component.lastReportName] = new TemplateReportComponent();
            var index = ReportTemplate.getIndex(CONST.component.lastReportName);
            reportComponent.setAttribute('index', index);
          }
        });
      };

      if(! this.getAttribute("is-auto")){
        var eltPDF = document.querySelector("#summon_report");
        if(eltPDF)
          eltPDF.onclick = function(){
            var name = me.getAttribute("name");
            var report = ReportTemplate.getByName(name);

            Report.generatePDF(report).onload = (data)=>{
              var res = JSON.parse(data.currentTarget.response);
              Operation.createLink(res.url);
            };
          };
        }
    };


    reportPrototype.createdCallback = function(){
      Operation.appendTemplate(this, currentDoc, "#content");

      var elt = document.querySelector("#sumup_type");
      Operation.appendTemplate(elt, currentDoc, "#navbar");

      //elt = document.querySelector("#actions");
      //Operation.appendTemplate(elt, currentDoc, "#actions");

    };

    reportPrototype.appendTemplateName = function(name){
      var newOp = {};
      var elt = document.querySelector("#templateList");

      newOp = document.createElement("option");
      newOp.innerText = name;
      if (elt)
        elt.append(newOp);

      ReportComponent.singleton[newOp.innerText] = null;
    };

    reportPrototype.attachedCallback = function(){
      this.defEvents();

      ReportComponent.singleton = {};
      var deferred = new $.Deferred();
      var me = this;

      deferred.progress(function(name){
        me.appendTemplateName(name);
      });

      $.when(ReportTemplate.getAllCurrent(), Meeting.getCurrentMeeting()).done(()=>{
        var l = ReportTemplate.allCurrent.length;

        if (l == 0){
        document.querySelector("#templateList").setAttribute("style","display:none");
        document.querySelector("#pasTemplate").removeAttribute("hidden","true");
        }
        else if(l ==1){
          this.setAttribute("name", ReportTemplate.allCurrent[0].name);
          if(document.querySelector("#templateList"))
            document.querySelector("#templateList").remove();
        }
        else {
          for (var i=0; i<l; i++)
          deferred.notify(ReportTemplate.allCurrent[i].name);
        }

      });

      Report.getReports().done((data)=>{
        var x = JSON.parse(data);
        if(x.status === "ok" && x.resources.length){
          var tab = x.resources;
          var toPush = new ReportTemplate(tab[tab.length-1]);
          ReportTemplate.allCurrent.push(toPush);

          deferred.notify(toPush.name);
        }
      });

    };

    reportPrototype.updateItems = function(){
      if(ReportTemplate.allCurrent && ReportTemplate.allCurrent[0])
        ReportTemplate.allCurrent[0].update().done(()=>{
          if(ReportComponent.singleton){
            for(var name in ReportComponent.singleton)
              if(ReportComponent.singleton[name])
                ReportComponent.singleton[name].updateItems();
              }
            });
    };

    reportPrototype.appendReport = function(name){
      var reportComponent = {};

      if(! ReportComponent.singleton[name]){
        reportComponent = ReportComponent.singleton[name] = new TemplateReportComponent();

        var index = ReportTemplate.getIndex(name);
        reportComponent.setAttribute('index', index);
      }

      else
        reportComponent = ReportComponent.singleton[name];

      this.querySelector("#report").appendChild(reportComponent);
    };

    reportPrototype.attributeChangedCallback = function(attr, oldV, newV){
      console.log("attributeChangedCallback");
      console.log(attr+"**"+oldV+"**"+newV);
      if(attr === "name" && newV){
        var child = this.firstElementChild;
        if(child.firstElementChild)
          child.removeChild(child.firstElementChild);

        this.appendReport(newV);
      }

    };

    ReportComponent = document.registerElement('beenov-report', {
      prototype : reportPrototype
    });

  })();
</script>
