<template id="template">
  <span id="title" class="col-md-12 well titreSection">
      <!-- templateSection.title -->
  </span>
</template>

<script>
  var SectionHeaderItemComponent = {};

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var sectionHeaderPrototype = Object.create(HTMLElement.prototype);

    sectionHeaderPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);
    };

    sectionHeaderPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        this.sectionHeaderItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);


       if (this.sectionHeaderItem.title != "")
          this.querySelector("#title").innerHTML = this.sectionHeaderItem.title;
      else
           this.querySelector("#title").setAttribute("style","display:none");


      }
    };

    SectionHeaderItemComponent = document.registerElement('beenov-section-header-item', {
      prototype : sectionHeaderPrototype
    });

  })();
</script>
