<template id="template">
  <div class="col-md-12">
    <!-- <p style="font-style: italic" id="label">
    </p> -->
  </div>
</template>

<script>
  var SectionActionsItemComponent = {};

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var sectionActionsItemPrototype = Object.create(HTMLElement.prototype);

    sectionActionsItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    sectionActionsItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        this.sectionActionsItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);

      //  this.querySelector("#label").innerHTML = this.sectionActionsItem.comment;
      }
    }

    SectionActionsItemComponent = document.registerElement('beenov-section-actions-item', {
      prototype : sectionActionsItemPrototype
    });
})();
</script>
