<template id="template">

  <p id="label"></p>  <!-- input.value = question.answer -->
  
</template>

<script>
var SiretTextQuestionComponent = {};

(function(){
  var currentDoc = document.currentScript.ownerDocument;
  var siretTextQuestionPrototype = Object.create(HTMLElement.prototype);

  siretTextQuestionPrototype.createdCallback = function(){
    Operation.appendTemplate(this, currentDoc, "#template");
    this.question = {};
  };

  siretTextQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
    if(attr === "question"){
      this.question = QuestionComponent.quiz.getQuestion(newV);
      this.querySelector("#label").innerHTML =this.question.answer ? this.question.answer : "";;

      console.log(this.querySelector("#label"));
    }
  };

  SiretTextQuestionComponent = document.registerElement("beenov-siret-text-question",{
    prototype : siretTextQuestionPrototype
  });

})();
</script>
