<link rel="import" href="templateSection.html">

<template id="template">
  <div id="sections">
    <!-- templateReport.sections -->
  </div>
</template>

<script>
  var TemplateReportComponent = {};

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var templateReportPrototype = Object.create(HTMLElement.prototype);
    var deferred = new $.Deferred();

    templateReportPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);
    };

    templateReportPrototype.appendSections = function(indexT){
      sections = ReportTemplate.allCurrent[indexT].sections;
      var l = sections ? sections.length : 0;
      var elt = this.querySelector("#sections");

      this.sectionComponent = new Array();
      for(var i=0; i<l; i++){
        var s = new TemplateSectionComponent();
        s.setAttribute("index", indexT+"/"+i);
        this.sectionComponent.push(s);

        elt.appendChild(s);
      }
    };

    templateReportPrototype.updateItems = function(){
      if(this.reportTemplate){

        if(this.sectionComponent){
          var l = this.sectionComponent.length;
          for(var i=0; i<l; i++)
            this.sectionComponent[i].updateItems();
          }
        }

    };

    templateReportPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        this.reportTemplate = ReportTemplate.allCurrent[newV];
        this.appendSections(newV);
      }

    };


    TemplateReportComponent = document.registerElement(
      'beenov-template-report', {
      prototype : templateReportPrototype
    });
  })();
</script>
