<template id="template">
  <div id="question">
    <!-- question.textLabels -->
    <!-- beenov-text-question[question = question.id] -->
    <div class="col-md-9" id="text" style="margin-left:35px">
         <input type="button" value="G" style="font-weight: bold;" onclick="commande('bold');" />
         <input type="button" value="I" style="font-style: italic;" onclick="commande('italic');" />
         <input type="button" value="S" style="text-decoration: underline;" onclick="commande('underline');" />
         <div type="textarea" id="editeur" contentEditable></div>
   </div>
</div>
  <div id="label" style="margin-left:35px" hidden="true"></div>
  <br/>
</template>

<script>
  var TextareaQuestionComponent = {};

  function commande(nom, argument) {
  if (typeof argument === 'undefined') {
    argument = '';
  }
  document.execCommand(nom, false, argument);
 }

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var textareaQuestionPrototype = Object.create(HTMLElement.prototype);

    textareaQuestionPrototype.createdCallback = function(){
      Operation.appendTemplate (this, currentDoc, "#template");
      this.question = {};
    }

    textareaQuestionPrototype.updateAnswer = function(){
      // var input = this.querySelector("#editeur");
      // this.question.answer = input.value;
    }

    textareaQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "question"){
        this.question = QuestionComponent.quiz.getQuestion(newV);

        var validity = this.question.mandatory ? (! this.question.answer) : true;
        this.factory.setAttribute("validity", validity);
          if (this.question.title === "Adresse"){
              this.factory.setAttribute("validity",true);
                this.querySelector("#label").innerHTML = this.question.answer ? this.question.answer : "";
                // var x = document.createElement("div");
                // var y = this.querySelector("#label").value;
                // x.innerHTML = y;
                // var res = x.innerText;
                // this.querySelector("#label").value = res;
                this.querySelector("#text").setAttribute("style","display:none");
                this.querySelector("#label").removeAttribute("hidden","true");

              }
              else {
                this.querySelector("#editeur").innerHTML = this.question.answer ? this.question.answer : "";
                console.log(this.querySelector("#editeur").innerHTML);
              }

            var editeur =   this.querySelector("#editeur");

      if (this.question.mandatory)
        editeur.className = (this.factory.getAttribute("validity") === "true") ? "greeninput" : "redinput";

        this.onchange = ()=>{
          var inputs = this.querySelectorAll("#editeur");
          inputs.forEach(elt => elt.className = "greeninput");
          var validity =  true ;
          this.factory.setAttribute("validity", validity);
          var quiz = document.querySelector("beenov-quiz")
          quiz.check();
        }


  }

    };

    TextareaQuestionComponent = document.registerElement("beenov-textarea-question", {
      prototype : textareaQuestionPrototype
    });

  })();

</script>
