<template id="template">
  <div id="question">
    <!-- question.textLabels -->
    <!-- beenov-text-question[question = question.id] -->
    <div class="col-md-9" id="text">
         <!-- <input type="textarea" id="text" name="text" value="" style="display:none"></input> -->
         <input type="button" value="G" style="font-weight: bold;" onclick="commande('bold');" />
         <input type="button" value="I" style="font-style: italic;" onclick="commande('italic');" />
         <input type="button" value="S" style="text-decoration: underline;" onclick="commande('underline');" />
         <div id="editeur" contentEditable></div>
   </div>
  </div>
</template>

<script>
  var TextareaQuestionComponent = {};

  function commande(nom, argument) {
  if (typeof argument === 'undefined') {
    argument = '';
  }

  // Exécuter la commande
  document.execCommand(nom, false, argument);
 }

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var textareaQuestionPrototype = Object.create(HTMLElement.prototype);

    textareaQuestionPrototype.createdCallback = function(){
      Operation.appendTemplate (this, currentDoc, "#template");
      this.question = {};
    }


    textareaQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr === "question"){
        this.question = QuestionComponent.quiz.getQuestion(newV);
        this.querySelector("#editeur").value = this.question.answer ? this.question.answer : "";
      }
    };

    TextareaQuestionComponent = document.registerElement("beenov-textarea-question", {
      prototype : textareaQuestionPrototype
    });

  })();

</script>
