<template id="template">
  <div class="col-md-10">

      <h4 class="title" id="title">
        <!-- on affiche le titre -->
      </h4>

      <span style="font-style: italic" id="variableValueLabel">
        <!-- variableValuesItem.testvaleur -->
     </span>
     <span> / </span>
     <span style="font-style: italic" id="maxValue">
            <!-- valeur max -->
     </span>

   </br>

   <span class="title"> Moyenne régionale: </span>
   <span id="moyReg">  </span>


</div>
</template>


<script>
  var VariableValueItemComponent = {};

  (function(){
    var currentDoc = document.currentScript.ownerDocument;
    var variableValueItemPrototype = Object.create(HTMLElement.prototype);

    variableValueItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    variableValueItemPrototype.setVariableValue = function(){
      this.variableValueItem.setVariableValue().done(()=>{
        this.querySelector("#variableValueLabel").innerHTML = this.variableValueItem.variableValue ;
        this.querySelector("#moyReg").innerHTML = this.variableValueItem.variableAverage.globalAverage;
      });
    };

    variableValueItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        this.variableValueItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);

        this.querySelector("#title").innerHTML = this.variableValueItem.name ;
        this.setVariableValue();
        this.querySelector("#maxValue").innerHTML = this.variableValueItem.maxValue ;

      }
    }

    VariableValueItemComponent = document.registerElement('beenov-variable-value-item', {
      prototype : variableValueItemPrototype
    });
})();
</script>
