<template id="template">
  <div class="col-md-10">
</br>
</br>
      <h4 class="title" id="title">
        <!-- on affiche le titre -->
      </h4>

      <span style="font-style: italic" id="variableValueLabel">
        <!-- variableValuesItem.testvaleur -->
     </span>
     <span id="slach1"> / </span>
     <span style="font-style: italic" id="maxValue">
            <!-- valeur max -->
     </span>

   </br>

   <span class="title"> Moyenne régionale: </span>
   <span id="moyReg">  </span>
   <span id="slach2"> / </span>
   <span style="font-style: italic" id="maxValueAverage"></br></br>
          <!-- valeur max -->


</div>
</br>
</template>


<script>
  var VariableValueItemComponent = {};

  (function(){
    var currentDoc = document._currentScript.ownerDocument;
    var variableValueItemPrototype = Object.create(HTMLElement.prototype);

    variableValueItemPrototype.createdCallback = function(){
      var template = currentDoc.querySelector("#template");
      var copie = document.importNode(template.content, true);
      this.appendChild(copie);

    }

    variableValueItemPrototype.setVariableValue = function(){
      this.variableValueItem.setVariableValue().done(()=>{
        try {
          var maxValueAverage = "4.00";
          if (this.variableValueItem.variableValue === undefined){
            this.querySelector("#moyReg").innerHTML = "N/C";
            this.querySelector("#variableValueLabel").innerHTML = "N/C";
            this.querySelector("#slach1").setAttribute("style", "display:none")
            this.querySelector("#slach2").setAttribute("style", "display:none")
          }
          else if (parseInt(this.variableValueItem.variableValue) == 0) {
            console.log("a");
              this.querySelector("#variableValueLabel").innerHTML = "0.00";
              if(this.variableValueItem.maxValue)
              this.querySelector("#maxValue").innerHTML = this.variableValueItem.maxValue.toFixed(2);
              this.querySelector("#moyReg").innerHTML = this.variableValueItem.variableAverage.globalAverage.toFixed(2);
              this.querySelector("#maxValueAverage").innerHTML = maxValueAverage ;
              this.querySelector("#slach1").removeAttribute("style", "display:none");
              this.querySelector("#slach2").removeAttribute("style", "display:none")
          }
          else
          {
            this.querySelector("#variableValueLabel").innerHTML = this.variableValueItem.variableValue.toFixed(2);
            this.querySelector("#maxValue").innerHTML = this.variableValueItem.maxValue.toFixed(2);
            this.querySelector("#moyReg").innerHTML = this.variableValueItem.variableAverage.globalAverage.toFixed(2);
            this.querySelector("#maxValueAverage").innerHTML = maxValueAverage ;
          }
        } catch (e) {}
      });
    };

    variableValueItemPrototype.attributeChangedCallback = function(attr, oldV, newV){
      if(attr == "index"){
        var index = newV.split("/");
        var variableValue ;
        this.variableValueItem = ReportTemplate.allCurrent[index[0]].getItem(index[1], index[2]);

        this.querySelector("#title").innerHTML = this.variableValueItem.name ;
        this.setVariableValue();
      }
    }

    VariableValueItemComponent = document.registerElement('beenov-variable-value-item', {
      prototype : variableValueItemPrototype
    });
})();
</script>
