<template id="template">
<p id="label" style="margin-left:35px" ></p>  <!-- input.value = question.answer -->

</template>

<script>
varZipcodeTextQuestionComponent = {};

(function(){
  var currentDoc = document._currentScript.ownerDocument;
  var zipcodeTextQuestionPrototype = Object.create(HTMLElement.prototype);

  zipcodeTextQuestionPrototype.createdCallback = function(){
    Operation.appendTemplate(this, currentDoc, "#template");
    this.question = {};
  };

  zipcodeTextQuestionPrototype.attributeChangedCallback = function(attr, oldV, newV){
    if(attr === "question"){
      this.question = QuestionComponent.quiz.getQuestion(newV);
      this.querySelector("#label").innerHTML = this.question.answer ? this.question.answer : "";
    }
  };

 ZipcodeTextQuestionComponent = document.registerElement("beenov-zipcode-text-question",{
    prototype : zipcodeTextQuestionPrototype
  });

})();
</script>
