.trumbowyg-box
{
    margin: 0px;
}

.numeric
{
    text-align: right;
}

.fr-box
{
    border: 1px solid black;
    border-radius: 5px;
}

.cityclose
{
    color: red;
}

#settings{
  width: 58vw;
  height: 58vh;
  border-radius: 23px;
  padding: 2px 2px;
  overflow:auto;
  margin-left: 10px;


}

#Contsettings
{
	width: 60vw;
	height: 60vh;
	margin-left: 150px;
  margin-bottom: 60px;
  margin-top: 10px;
	border-radius: 25px;
  border: 2px solid gray;
	box-shadow: 1px 1px 1px;
	/* overflow: auto; */
	float: left;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

#loader
{
	float: right;
	width: 15vw;
	margin-right: 0px;
}

#buttonzone
{
	clear: both;
	display: block;
	position: relative;
	margin-top: 2vh;
	margin-left: 700px;
}

#pictr
{
	max-width: 20vw;
	max-height: 20vh;
	margin-top: 2vh;
}

.redinput
{
    box-shadow: 0 0 0 2px #a00;
}
/*
.greeninput
{
    box-shadow: 0 0 0 2px #0a0;
} */

h1
{
	font-size: 2vw;
	font-weight: bold;
	color: #003c74;
	text-align: center;
}

h2
{
	font-size: 1.5vw;
	font-weight: bold;
	margin-left: 1vw;
	color: #003c74;
}

label
{
	font-size: 1.2vw;
	font-weight: bold;
	margin-left: 1vw;
	color: #003c74;
}
