textarea
{
    resize: none;
}

.titreSection
{
  /* background: Gainsboro;
  border: 2px groove silver; */
  font-weight: bolder;
  font-size: 18px;
}

#editeur
 {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  overflow: auto;
}


input.controle {
  outline:0;
  font-size:14px;
  width:250px;
}


input.controle:valid {
  border:3px solid #0a0;
}
input.controle:invalid {
  border:3px solid #a00;
}
input.controle:valid + span:before  {
  content: "\f00c";
  font-family: "FontAwesome";
  color:#0a0;
  font-size: 1.5em;
}
input.controle:invalid + span:before  {
  content: "\f00d";
  font-family: "FontAwesome";
  color:#a00;
  font-size: 1.5em;
}
